doctype html
html(lang='en', ng-app='skokovModule')
    head
        title skokov
        link(rel='stylesheet', href='/static/stylesheets/style.css')

    body

        script(src='/static/javascripts/app.js')
