.row.project-content
    .col-sm-8
        .row.description-container
            .description
                .route-img-block#slides
                    .route-btn-block
                        button.route-btn(ng-click='showPrevious();')
                            img(src='/static/images/left-arrow.png')
                    .active-img-block
                        .animation-fade.selected-img-block(ng-repeat='(i, slide) in slides', ng-show='i == slideIndex')
                            img.selected-img(ng-src='{{ slide.image }}')
                    .route-btn-block
                        .open-modal-icon(ng-click='openModal();')
                            img(src='/static/images/resize-icon.png')
                        button.route-btn(ng-click='showNext();')
                            img(src='/static/images/right-arrow.png')
                .select-imgs
                    ul.text-center.slide-list
                        li.slide(ng-repeat='(i, slide) in slides', ng-class='slideIndex == this.$index ? "active" : "" ')
                            img.elem-img(ng-src='{{ slide.image }}', ng-click='showImg();')
            .project-description
                .description-h3.text-center
                    h3.h3 project description
                .description-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, eligendi numquam, provident vero ducimus tempore blanditiis libero sit, ipsa commodi molestiae porro unde optio cum voluptates ad. Optio, quasi quis.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, eligendi numquam, provident vero ducimus tempore blanditiis libero sit, ipsa commodi molestiae porro unde optio cum voluptates ad. Optio, quasi quis.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, eligendi numquam, provident vero ducimus tempore blanditiis libero sit, ipsa commodi molestiae porro unde optio cum voluptates ad. Optio, quasi quis.
            .recent-projects
                .description-h3.text-center
                    h3.h3 recent projects
                .row.recent-projects-imgs
                    .col-md-4
                        img.img-responsive(src='/static/images/project-1.png')
                    .col-md-4
                        img.img-responsive(src='/static/images/project-2.png')
                    .col-md-4
                        img.img-responsive(src='/static/images/project-3.png')
    .col-sm-4
        .row.sidebar-container
            .categories
                h2.h2 project details
                .categories-block
                    .category.media(ng-repeat='detail in projectDetails')
                        .media-left.media-middle
                            label.media-object.category-link
                                span.glyphicon.glyphicon-chevron-right.icon-span(aria-hidden='true')
                        .media-body.media-middle
                            a.post-link(href='#')
                                {{ detail }}
            .posts
                h2.h2 popular posts
                .posts-block
                    .post.media(ng-repeat='post in posts')
                        .media-left.media-middle
                            a(href='#')
                                img.media-object(ng-src='{{ post.image }}')
                        .media-body
                            a.post-link(href='#') {{ post.name }}
                            p.date.media-bottom
                                {{ post.date }}
                                span.glyphicon.glyphicon-heart(aria-hidden='true')
                                {{ post.likes }}
            .tags
                h2.h2 tags
                .tags-block
                    ul.list-inline.tags-list
                        li
                            a(href='#') web design
                        li
                            a(href='#') html5
                        li
                            a(href='#') inspiration
                        li
                            a(href='#') photo
                        li
                            a(href='#') css
                        li
                            a(href='#') illustration
                        li
                            a(href='#') design
                        li
                            a(href='#') wordpress
                        li
                            a(href='#') business
                        li
                            a(href='#') theme
                        li
                            a(href='#') joomla
