.row.foother
    .col-sm-4.about-us
        h4.h4 About Us
        p.about-us-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus dolore at, nam cum voluptatum voluptates nostrum esse incidunt magni aliquam perspiciatis optio, praesentium quibusdam ullam nobis quia est adipisci! Eum.
        .learn-more
            button.learn-more-btn Learn more
        h4.h4 Photo Stream
        .photo-stream
            a.photo-stream-link(href='#')
                img(src='/static/images/img-foother-1.png')
            a.photo-stream-link(href='#')
                img(src='/static/images/img-foother-2.png')
            a.photo-stream-link(href='#')
                img(src='/static/images/img-foother-3.png')
            a.photo-stream-link(href='#')
                img(src='/static/images/img-foother-4.png')
            a.photo-stream-link(href='#')
                img(src='/static/images/img-foother-5.png')
            a.photo-stream-link(href='#')
                img(src='/static/images/img-foother-6.png')
    .col-sm-4.tweets
        h4.h4 Latest tweets
        .tweets-block
            .media.tweet
                .media-left.media-middle.media-left-1
                    a(href='#')
                        i.fa.fa-twitter.fa-2x.media-object.tweets-icon
                .media-body
                    a.tweets-link(href='#') Check Out Dtbaker's <span class='tweets-span'>@Arduino</span> Sales Notification <span class='tweets-span'>#System</span> http://f.co/WBFKIWHJ
                    span.days-ago 3 days ago
            .media.tweet
                .media-left.media-middle.media-left-1
                    a(href='#')
                        i.fa.fa-twitter.fa-2x.media-object.tweets-icon
                .media-body
                    a.tweets-link(href='#') Community Superstar Winner – <span class='tweets-span'>#OrganicBeeMedia</span> http://t.co/2FslnnMj
                    span.days-ago 3 days ago
            .media.tweet
                .media-left.media-middle.media-left-1
                    a(href='#')
                        i.fa.fa-twitter.fa-2x.media-object.tweets-icon
                .media-body
                    a.tweets-link(href='#') Clean <span class='tweets-span'>#Websites</span> Designs for Your <span class='tweets-span'>#Inspiration</span> http://t.co/ SnRKu3HJ
                    span.days-ago 5 days ago
            .media.tweet
                .media-left.media-middle.media-left-1
                    a(href='#')
                        i.fa.fa-twitter.fa-2x.media-object.tweets-icon
                .media-body
                    a.tweets-link(href='#') Cute Online <span class='tweets-span'>#Shops</span> http://t.co/ 1PoQN3bJ
                    span.days-ago 6 days ago
            .media.tweet
                .media-left.media-middle.media-left-1
                    a(href='#')
                        i.fa.fa-twitter.fa-2x.media-object.tweets-icon
                .media-body
                    a.tweets-link(href='#') Download 40 vector <span class='tweets-span'>#icons</span> package for <span class='tweets-span'>#FREE</span> http://t.co/2Fp5GLq
                    span.days-ago 6 days ago
            .social-con
                h4.h4 Social Connecting
                ul.list-inline.social-icons-list
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-facebook
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-google-plus
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-twitter
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-linkedin
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-youtube
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-vk
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-feed
                    li.social-icon.text-center
                        a(href='#')
                            i.fa.fa-dribbble
    .col-sm-4.contact
        h4.h4 Contact info
        .contact-info
            .media
                .media-left.media-middle.media-left-1
                    .media-object.info-icon-block.text-center
                        a(href='#')
                            i.fa.fa-map-marker.info-icons
                .media-body.media-middle
                    p.foother-text Address: 12569 Saint Patrick des Prés,  85000 Paris, France
            .media
                .media-left.media-middle.media-left-1
                    .media-object.info-icon-block.text-center
                        a(href='#')
                            i.fa.fa-phone.info-icons
                .media-body.media-middle
                    p.foother-text Phone: +38 045 845-45-78
                    p.phone.foother-text +38 045 845-45-79
            .media
                .media-left.media-middle.media-left-1
                    .media-object.info-icon-block.text-center
                        a(href='#')
                            i.fa.fa-envelope.info-icons
                .media-body.media-middle
                    p.foother-text E-mail: <a href='#' class='email'>freeforwebdesign@gmail.com</a>
        .follow-us
            h4.h4 Follow Us
            .follow
                p.foother-text Lorem Ipsum is simply dummy text of the printing  and typesetting industry
            form.form-inline.follow
                .form-group.envelope-group
                    .input-group.envelope-input-block
                        input.form-control.envelope-input(type='text')
                        .input-group-addon.envelope-block
                            a(href='#')
                                i.fa.fa-envelope-o.info-icons

