nav.navbar
    .container.navbar-bottom
        .navbar-header.nav-bottom-header
            a.nabvar-brand Copyright 2013 - FreeForWebDesign.com - All Rights Reserved
        ul.nav.navbar-nav.navbar-right
            li.nav-bottom-link
                a(href='#') home
            li.nav-bottom-link
                a(href='#') portfolio
            li.nav-bottom-link
                a(href='#') blog
            li.nav-bottom-link
                a(href='#') about as
            li.nav-bottom-link
                a(href='#') contact
