.navbar-header.header
    a(href='#').logo
        img(src='/static/images/logo.png')
nav.navbar-collapse
    ul.nav.navbar-nav.navbar-right.nav-links
        li
            a.nav-link(href='#') home
        li
            a.nav-link(href='#') portfolio
        li
            a.nav-link(href='#') blog
        li
            a.nav-link(href='#') about as
        li
            a.nav-link(href='#') contact
.row.top-img
    .project
        p.text-center.project-txt project
