nav.navbar.skokov-navbar
    .container.navbar-container
        .navbar-header.skokov-header
            a.nabvar-brand.brand-link(href='#')
                img.brand(src='/static/images/logo.png')
        ul.nav.navbar-nav.navbar-right.navbar-list
            li.nav-link
                a(href='#') home
            li.nav-link
                a(href='#') portfolio
            li.nav-link
                a(href='#') blog
            li.nav-link
                a(href='#') about as
            li.nav-link
                a(href='#') contact
